<div id="wrapper-identity">
    <p>Please enter the following details</p>
        <div class="aadhar-wrap">
            <label for="aadhar">Aadhar Card</label><br>
            <input type="text" name="aadhar" ng-model="newuser.aadhar" id="aadharN" value="" placeholder="Enter Aadhar Card No" required>
        </div>
        <div class="pan-wrap">
            <label for="pan">PAN</label><br>
            <input type="text" name="pan" ng-model="newuser.pan" value="" id="panN" placeholder="Enter PAN No" required>
        </div>
        <input type="submit" ng-click="go('/index/done')" name="submit-info" value="Submit" id="submit">
</div>
