<div id="wrapper-identity">
    <p id="descript">Please enter the following details</p>
    <div class="aadhar-wrap">
        <input type="text" name="aadhar" ng-model="newuser.aadhar" id="aadharN" value="" required><label for="aadharN">Aadhar Card</label>
    </div>
    <p class="error" style="color: red; font-size: 0.7em;" ng-show="signForm.aadhar.$dirty && !newuser.aadhar">Aadhar number required</p>
    <div class="pan-wrap">
        <input type="text" name="pan" ng-model="newuser.pan" value="" id="panN" required><label for="panN">PAN</label>
    </div>
            <p class="error" style="color: red; font-size: 0.7em;" ng-show="signForm.pan.$dirty && !newuser.pan">PAN number required</p>
    <input type="submit" ng-show="newuser.aadhar && newuser.pan" ng-click="go('/index/done')" name="submit-info" value="Submit" id="submit">
</div>
