<div id="wrapper-password">
        <div class="new">
            <label for="newPassword">New Password</label><br>
            <input type="password" id="newPassword" ng-model="newuser.password" class="passWd" name="newPassword" ng-minlength="{{6}}" value="" placeholder="Enter new password" required><input type="checkbox" id="showPswd" value="">
            <p id="showPswd-text">Show Password</p>
            <p class="error" style="color: red; font-size: 0.8em;" ng-show="signForm.newPassword.$invalid && signForm.newPassword.$dirty">Password should contain at least 6 characters</p>
        </div>
        <div class="confirm">
            <label for="confirmPassword">Confirm Password</label><br>
            <input type="password" class="passWd" id="confirmPassword" ng-model="confirm" name="confirmPassword" value="" placeholder="Type the password again" required>
            <p class="error" name="error" style="color: red; font-size: 0.8em;" ng-show="signForm.confirmPassword.$dirty && newuser.password !== confirm">Password didn't match</p>
        </div>
        <a ui-sref='index.identity' ng-show="signForm.newPassword.$valid && signForm.confirmPassword.$dirty"><button type="submit" id="pswdButton" class="changePswd" name="submitPassword" value="">Change Password</button></a>
</div>
