<div id="wrapper-password">
  <p class="descript">Change your password.</p>
        <div class="new">
            <input type="password" id="newPassword" ng-model="newuser.password" class="passWd" name="newPassword" ng-minlength="{{6}}" value="" required><label for="newPassword">New Password</label>
        </div>
        <div class="showpassword">
          <input type="checkbox" id="showPswd" value=""><span>Show password</span>
        </div>
        <p class="error" style="color: red; font-size: 0.8em;" ng-show="signForm.newPassword.$invalid && signForm.newPassword.$dirty">Password should contain at least 6 characters</p>
        <div class="confirm">
            <input type="password" class="passWd" id="confirmPassword" ng-model="confirm" name="confirmPassword" value="" required><label for="confirmPassword">Confirm Password</label>
        </div>
        <p class="error" name="error" style="color: red; font-size: 0.8em;" ng-show="signForm.confirmPassword.$dirty && newuser.password !== confirm">Password didn't match</p>
        <a ui-sref='index.identity' ng-show="signForm.newPassword.$valid && signForm.confirmPassword.$dirty && newuser.password === confirm"><button type="submit" id="pswdButton" class="changePswd" name="submitPassword" value="">Change Password</button></a>
</div>
