    <div id="wrapper-signup">
      <h1>Borrower Signup</h1>
      <p>Register and start borrowing money online.</p>

      <div class="element-wrap">
          <div class="name-wrap">
            <input type="text" ng-model="newuser.firstname" name="firstname" id="firstname" value="" required><label for="firstname">First Name</label>
          </div>
          <div class="name-wrap">
            <input type="text" ng-model="newuser.lastname" name="lastname" id="lastname" value="" required><label for="lastname">Last Name</label>
          </div>
          <p class="error" style="width: 45%; color: red; font-size: 0.8em; clear: both; margin-bottom: 0; padding-bottom: 0;" ng-show="signForm.firstname.$dirty && !newuser.firstname">Firstname required</p>
          <p class="error" style="width: 45%; color: red; font-size: 0.8em; clear: both; margin-bottom: 0; padding-bottom: 0;" ng-show="signForm.lastname.$dirty && !newuser.lastname">Lastname required</p>
        </label><br>
      </div>
      <div class="element-wrap">
            <div class="email-num-wrap">
              <input type="email" id="email" ng-model="newuser.email" name="email" value="" required><label for="email">EMAIL</label>
            </div>
            <p class="error" style="color: red; font-size: 0.8em;" ng-show="signForm.email.$invalid && signForm.email.$dirty">Enter a valid email</p>
      </div>
      <div class="element-wrap">
          <div class="email-num-wrap">
            <input type="number" id="number" ng-model="newuser.number" name="mobile" ng-minlength="10" ng-maxlength ="10" value="" required><label for="number">Mobile number</label>
          </div>
          <p class="error" style="color: red; font-size: 0.8em;" ng-show="((signForm.mobile.$error.minlength || signForm.mobile.$error.maxlength) && signForm.mobile.$dirty)">Please enter a 10 digit number</p>
      </div>
      <div class="clear">
        &nbsp;
      </div>
      <div class="checkbox-wrap">
      <input type="checkbox" class="checkbox" name="terms" value="" ng-model="tcheck" required><p class="checkbox-text">I have read and agree to the <a href="#">Privacy Policy</a>, <a href="#">Terms of Use</a> and consent to Electronic Disclosures.</p>
      </div>
      <div class="checkbox-wrap">
        <input type="checkbox" class="checkbox" name="condiiton" value="" ng-model="ccheck" required><p class="checkbox-text">I authorize RupaiyaExchange to share my details with other Financial Institutions for credit card check and faster processing of loan.</p>
      </div>
      <a ui-sref='index.otp' ng-show="signForm.email.$valid && tcheck && ccheck && signForm.mobile.$valid && newuser.firstname.length !== 0 && newuser.lastname.length !==  0 " class="submit-signup">SIGNUP</a>

    </div>
