* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.container {
    max-width: 100%;
}


/*Signup form styles*/

#wrapper-signup {
    max-width: 40%;
    margin: 5% auto;
    position: relative;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 1px 1px 5px rgb(248, 248, 248), -1px -1px 5px rgb(248, 248, 248);
    color: rgb(100, 100, 100);
    padding: 3%;
    font-family: 'Quicksand', sans-serif;
}

#wrapper-signup:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
}

#wrapper-signup>h1 {
    margin: 0;
    font-weight: lighter;
    padding: 0;
}

#wrapper-signup>p {
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-bottom: 4%;
    margin-bottom: 0;
    font-weight: bold;
}

.element-wrap {
    padding-top: 7%;
    width: 100%;
    float: left;
}

label {
    font-size: 0.8em;
    clear: both;
    font-weight: bold;
    padding-bottom: 2%;
}

#firstname {
    float: left;
}

#lastname {
    float: right;
}

#firstname, #lastname {
    width: 49%;
    padding: 3% 2%;
    font-size: 1em;
    border: 1px solid rgb(220, 220, 220);
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

#firstname:focus, #lastname:focus, #email:focus, #number:focus {
    outline-color: rgb(28, 195, 91);
}

.name-wrap {
    float: left;
    width: 100%;
}

#email {
    width: 85%;
    max-width: 100%;
    padding: 3% 2%;
    float: right;
    font-size: 1em;
    font-weight: bold;
    border: none;
    font-family: 'Quicksand', sans-serif;
}

.email-num-wrap {
    float: left;
    width: 100%;
    height: auto;
    border: 1px solid rgb(220, 220, 220);
}

.awesome-icon {
    width: 15%;
    max-width: 100%;
    float: left;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border: none;
    padding: 3.1% 2%;
}

.email-icon, .mobile-icon {
    font-size: 1.3em;
}

#number {
    width: 85%;
    max-width: 100%;
    padding: 3% 2%;
    float: right;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border: none;
}

.clear {
    clear: both;
}

.checkbox {
    float: left;
}

.checkbox-text {
    width: 90%;
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 7%;
    text-align: left;
    padding: none;
}

.checkbox-text>a {
    text-decoration: none;
    color: rgb(28, 195, 91);
}

.checkbox-wrap {
    margin-top: 6%;
}

.submit-signup {
    float: right;
    padding: 5%;
    text-decoration: none;
    color: white;
    background: rgb(28, 195, 91);
    color: white;
    margin-top: 2%;
    font-size: 1.1em;
    border: 3px solid rgb(28, 150, 91);
    border-radius: 0.3em;
    font-weight: bolder;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/*OTP html styles*/

#wrapper-otp {
    max-width: 30%;
    margin: 5% auto;
    position: relative;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 1px 1px 5px rgb(248, 248, 248), -1px -1px 5px rgb(248, 248, 248);
    color: rgb(100, 100, 100);
    padding: 2%;
    font-family: 'Quicksand', sans-serif;
}

#wrapper-otp>p {
    font-weight: bold;
}

#otp {
    width: 60%;
    padding: 3% 2%;
    font-size: 1em;
    font-weight: bold;
    margin-right: 2%;
    border: 1px solid rgb(220, 220, 220);
    font-family: 'Quicksand', sans-serif;
}

#otp:focus {
    outline-color: rgb(28, 232, 91);
}

.verify {
    padding: 3% 2%;
    width: 36%;
    background: rgb(28, 195, 91);
    border: 3px solid rgb(28, 150, 91);
    color: white;
    border-radius: 0.3em;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

#resend {
    font-size: 0.8em;
    clear: both;
}

#resend a {
    text-decoration: none;
    color: rgb(28, 195, 91);
}


/*PASSWORD html styles*/

#wrapper-password {
    max-width: 40%;
    margin: 5% auto;
    position: relative;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 1px 1px 5px rgb(248, 248, 248), -1px -1px 5px rgb(248, 248, 248);
    color: rgb(100, 100, 100);
    padding: 2%;
    font-family: 'Quicksand', sans-serif;
}

#wrapper-password:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
}

.passWd {
    padding: 3% 2%;
    margin-top: 1%;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border: 1px solid rgb(220, 220, 220);
    width: 50%;
}

.passWd:focus {
    outline-color: rgb(28, 200, 91);
}

#showPswd {
    margin-left: 5%;
}

.changePswd {
    padding: 3% 2%;
    width: 50%;
    margin-top: 2%;
    background: rgb(28, 195, 91);
    border: 3px solid rgb(28, 150, 91);
    color: white;
    border-radius: 0.3em;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.new {
    margin-top: 2%;
    margin-bottom: 3%;
}

.confirm {
    margin-top: 3%;
}

#showPswd-text {
    max-width: 30%;
    display: inline-block;
    font-size: 0.8em;
}


/*Identity CSS*/

#wrapper-identity {
    max-width: 30%;
    margin: 5% auto;
    position: relative;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(220, 220, 220);
    color: rgb(100, 100, 100);
    padding: 2%;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 1px 1px 5px rgb(248, 248, 248), -1px -1px 5px rgb(248, 248, 248);
}

#wrapper-identity>p {
    margin-top: 0;
    padding-bottom: 7%;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.aadhar-wrap {
    max-width: 100%;
    margin-top: 5%;
}

.pan-wrap {
    max-width: 100%;
    margin-top: 5%;
}

#aadharN, #panN {
    width: 100%;
    margin-top: 2%;
    padding: 4% 2%;
    border: 1px solid rgb(220, 220, 220);
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

#aadharN:focus, #panN:focus {
    outline-color: rgb(28, 195, 91);
}

#submit {
    padding: 3% 2%;
    width: 100%;
    margin-top: 5%;
    background: rgb(28, 195, 91);
    border: 3px solid rgb(28, 150, 91);
    border-radius: 0.3em;
    color: white;
    font-size: 1.1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

#last {
    max-width: 40%;
    margin: 5% auto;
    position: relative;
    : white;
    font-size: 1.1em;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(220, 220, 220);
    color: rgb(100, 100, 100);
    padding: 3%;
    box-shadow: 1px 1px 5px rgb(248, 248, 248), -1px -1px 5px rgb(248, 248, 248);
    font-family: 'Quicksand', sans-serif;
}


/*Animations using ngAnimate*/

.ng-enter {
    -webkit-animation-name: enter;
    animation-name: enter;
    -webkit-animation-duration: 900ms;
    animation-duration: 900ms;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.ng-leave {
    -webkit-animation-name: leave;
    animation-name: leave;
    -webkit-animation-duration: 900ms;
    animation-duration: 900ms;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes enter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes enter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes leave {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes leave {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@media only screen and (max-width: 785px) {
    #wrapper-otp {
        max-width: 60%;
    }
    #wrapper-password {
        max-width: 70%;
    }
}

@media only screen and (max-width: 515px) {
    #wrapper-otp {
        max-width: 80%;
    }
    #wrapper-password {
        max-width: 80%;
    }
}

@media only screen and (max-width: 385px) {
    #wrapper-otp {
        max-width: 95%;
    }
    #wrapper-password {
        max-width: 95%;
    }
}

@media only screen and (max-width: 950px) {
    #wrapper-signup, #last {
        max-width: 55%;
    }
    #wrapper-identity {
        max-width: 45%;
    }
}

@media only screen and (max-width: 665px) {
    #wrapper-signup, #last {
        max-width: 75%;
    }
    #wrapper-identity {
        max-width: 65%;
    }
}

@media only screen and (max-width: 480px) {
    #wrapper-signup, #last {
        max-width: 95%;
    }
    #wrapper-identity {
        max-width: 85%;
    }
}
