* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.container {
    max-width: 100%;
}


/*Signup form styles*/

#wrapper-signup {
    max-width: 40%;
    margin: 5% auto;
    position: relative;
    background-color: rgb(248, 248, 248);
    border: 2px solid rgb(220, 220, 220);
    box-shadow: 1px 1px 5px rgb(248, 248, 248), -1px -1px 5px rgb(248, 248, 248);
    color: rgb(100, 100, 100);
    padding: 3%;
    font-family: 'Quicksand', sans-serif;
}

#wrapper-signup:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
}

#wrapper-signup>h1 {
    margin: 0;
    font-weight: lighter;
    padding: 0;
}

#wrapper-signup>p {
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-bottom: 4%;
    margin-bottom: 0;
    font-weight: bold;
}

.element-wrap {
    padding-top: 7%;
    width: 100%;
    float: left;
    position: relative;
}

.name-wrap {
    display: inline-block;
    width: 49%;
    margin-top: 3%;
    position: relative;
}

.name-wrap > label, .email-num-wrap > label {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  transition: bottom 0.3s ease;
}

#firstname {
  width: 100%;
  max-width: 100%;
  padding: 3%;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  border: 2px solid rgb(220, 220, 220);
}

#firstname:focus {
  outline: none;
  border: 2px solid rgb(28, 195, 91)
}

#firstname:focus + label {
  bottom: 100%;
  padding: 0.2em;
  color: white;
  font-weight: bold;
  background-color: rgb(28, 195, 91);
}

#firstname:valid + label {
    bottom: 100%;
    padding: 0.2em;
      bottom: 100%;
      padding: 0.2em;
      font-weight: bold;
}

#firstname:focus {
  outline: none;
}

#lastname {
  width: 100%;
  border: none;
  max-width: 100%;
  padding: 3%;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  border: 2px solid rgb(220, 220, 220);
}

#lastname:focus {
  outline: none;
    outline: none;
    border: 2px solid rgb(28, 195, 91)
}

#lastname:focus + label {
    bottom: 100%;
    padding: 0.2em;
    color: white;
    font-weight: bold;
    background-color: rgb(28, 195, 91);
}

#lastname:valid + label {
    bottom: 100%;
    padding: 0.2em;
          bottom: 100%;
          padding: 0.2em;
          font-weight: bold;
}

#email {
    width: 100%;
    max-width: 100%;
    padding: 1.5%;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid rgb(220, 220, 220);
    font-family: 'Quicksand', sans-serif;
}

.email-num-wrap {
    position: relative;
    width: 100%;
    margin-top: 3%;
}

.email-num-wrap > label {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5em;
    transition: bottom 0.3s ease;
}

#email:focus + label {
      bottom: 100%;
      padding: 0.2em;
      color: white;
      font-weight: bold;
      background-color: rgb(28, 195, 91);
}

#email:valid + label {
      bottom: 100%;
      padding: 0.2em;
      bottom: 100%;
      padding: 0.2em;
      font-weight: bold;
}

#email:focus {
        outline: none;
        border: 2px solid rgb(28, 195, 91)
}

#number {
    width: 100%;
    max-width: 100%;
    padding: 1.5%;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border: 2px solid rgb(220, 220, 220);
}

#number:focus + label {
      bottom: 100%;
      padding: 0.2em;
      color: white;
      font-weight: bold;
      background-color: rgb(28, 195, 91);
}

#number:valid + label {
      bottom: 100%;
      padding: 0.2em;
      font-weight: bold;
}

#number:focus {
  outline: none;
        outline: none;
        border: 2px solid rgb(28, 195, 91)
}

.clear {
    clear: both;
}

.checkbox {
    float: left;
}

.checkbox-text {
    width: 90%;
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 7%;
    text-align: left;
    padding: none;
}

.checkbox-text>a {
    text-decoration: none;
    color: rgb(28, 195, 91);
}

.checkbox-wrap {
    margin-top: 6%;
}

.submit-signup {
    float: right;
    padding: 5%;
    text-decoration: none;
    color: white;
    margin-top: 2%;
    font-size: 1em;
    background: rgb(28, 195, 91);
    border: 3px solid rgb(28, 150, 91);
    border-radius: 0.3em;
    font-weight: bolder;
}


/*OTP html styles*/

#wrapper-otp {
    max-width: 40%;
    margin: 5% auto;
    position: relative;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 1px 1px 5px rgb(248, 248, 248), -1px -1px 5px rgb(248, 248, 248);
    color: rgb(100, 100, 100);
    padding: 0 2%;
    font-family: 'Quicksand', sans-serif;
}

#wrapper-otp>p {
    font-weight: bold;
}

#otp {
    width: 60%;
    padding: 3% 2%;
    font-size: 1em;
    font-weight: bold;
    margin-right: 2%;
    border: 1px solid rgb(220, 220, 220);
    font-family: 'Quicksand', sans-serif;
}

#otp:focus {
    outline-color: rgb(28, 232, 91);
}

.verify {
    padding: 3% 2%;
    width: 36%;
    background: rgb(28, 195, 91);
    border: 3px solid rgb(28, 150, 91);
    color: white;
    border-radius: 0.3em;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

#resend {
    font-size: 0.8em;
    clear: both;
}

#resend a {
    text-decoration: none;
    color: rgb(28, 195, 91);
}


/*PASSWORD html styles*/

#wrapper-password {
    max-width: 40%;
    margin: 5% auto;
    position: relative;
    background-color: rgb(250, 250, 250);
    border: 2px solid rgb(220, 220, 220);
    box-shadow: 1px 1px 5px rgb(248, 248, 248), -1px -1px 5px rgb(248, 248, 248);
    color: rgb(100, 100, 100);
    padding: 2%;
    font-family: 'Quicksand', sans-serif;
}

#wrapper-password:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
}

.passWd {
    padding: 1.5%;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border: 2px solid rgb(220, 220, 220);
    width: 100%;
    max-width: 100%;
}

.passWd:focus {
    outline: none;
    border-color: rgb(28, 195, 91);
}

.passWd:focus + label {
        bottom: 100%;
        padding: 0.2em;
        color: white;
        font-weight: bold;
        background-color: rgb(28, 195, 91);
}

.passWd:valid + label {
        bottom: 100%;
        padding: 0.2em;
        font-weight: bold;
}

#showPswd {
    margin-left: 5%;
}

.changePswd {
    padding: 3%;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 3%;
    background: rgb(28, 195, 91);
    border: 3px solid rgb(28, 150, 91);
    color: white;
    border-radius: 0.3em;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.new, .confirm {
    margin-top: 8%;
    position: relative;
    height: auto;
}

.confirm {
  margin-bottom: 5%;
}

.new > label, .confirm > label {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0.5em;
      transition: bottom 0.3s ease;
}

#showPswd {
  margin: 0;
}

.showpassword {
  display: block;
  max-width: 100%;
  margin-top: 2%;
}

.showpassword > span {
  font-size: 0.8em;
  width: 100%;
  margin-left: 1%;
}


/*Identity CSS*/

#wrapper-identity {
    max-width: 35%;
    margin: 5% auto;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(220, 220, 220);
    color: rgb(100, 100, 100);
    padding: 2%;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 1px 1px 5px rgb(248, 248, 248), -1px -1px 5px rgb(248, 248, 248);
}

.descript {
    margin-top: 0;
    padding-bottom: 2%;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.aadhar-wrap, .pan-wrap {
    position: relative;
    max-width: 100%;
    margin-top: 10%;
}

.pan-wrap {
  margin-bottom: 5%;
  margin-top: 10%;
}

.aadhar-wrap > label, .pan-wrap > label {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0.5em;
        transition: bottom 0.3s ease;
}


#aadharN, #panN {
    width: 100%;
    max-width: 100%;
    display: inline-block;
    padding: 2%;
    border: 2px solid rgb(220, 220, 220);
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

#aadharN:focus, #panN:focus {
    outline: none;
    border-color: rgb(28, 195, 91);
}

#aadharN:focus + label, #panN:focus + label {
          bottom: 100%;
          padding: 0.2em;
          color: white;
          font-weight: bold;
          background-color: rgb(28, 195, 91);
}

#aadharN:valid + label, #panN:valid + label {
          bottom: 100%;
          padding: 0.2em;
          font-weight: bold;
}

#submit {
    padding: 3% 2%;
    width: 100%;
    margin-top: 5%;
    background: rgb(28, 195, 91);
    border: 3px solid rgb(28, 150, 91);
    border-radius: 0.3em;
    color: white;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}


#last {
    max-width: 40%;
    margin: 5% auto;
    position: relative;
    : white;
    font-size: 1.1em;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(220, 220, 220);
    color: rgb(100, 100, 100);
    padding: 3%;
    box-shadow: 1px 1px 5px rgb(248, 248, 248), -1px -1px 5px rgb(248, 248, 248);
    font-family: 'Quicksand', sans-serif;
}


/*Animations using ngAnimate*/

.ng-enter {
    -webkit-animation-name: enter;
    animation-name: enter;
    -webkit-animation-duration: 900ms;
    animation-duration: 900ms;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.ng-leave {
    -webkit-animation-name: leave;
    animation-name: leave;
    -webkit-animation-duration: 900ms;
    animation-duration: 900ms;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes enter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes enter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes leave {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes leave {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@media only screen and (max-width: 1150px) {
  .aadhar-wrap {
    margin-top: 11%;
  }
}

@media only screen and (max-width: 820px) {
    #wrapper-otp {
        max-width: 60%;
    }
    #wrapper-password {
        max-width: 60%;
    }
    .new > label, .confirm > label {
      font-size: 0.9em;
    }
}

@media only screen and (max-width: 520px) {
    #wrapper-otp {
        max-width: 80%;
    }
    #wrapper-password {
        max-width: 80%;
    }
    .new, .confirm {
      margin-top: 10%;
    }
    .new > label, .confirm > label {
      font-size: 0.9em;
    }
}

@media only screen and (max-width: 385px) {
    #wrapper-otp {
        max-width: 95%;
    }
    #wrapper-password {
        max-width: 95%;
    }
}

@media only screen and (max-width: 950px) {
    #wrapper-signup, #last {
        max-width: 55%;
    }

    .name-wrap > label, .email-num-wrap > label {
      font-size: 0.9em;
    }

    #wrapper-identity {
        max-width: 45%;
    }

    .aadhar-wrap {
      margin-top: 12%;
    }

    .aadhar-wrap > label, .pan-wrap > label {
      font-size: 0.9em;
    }
}

@media only screen and (max-width: 665px) {
    #wrapper-signup, #last {
        max-width: 75%;
    }
    #wrapper-identity {
        max-width: 65%;
    }
}

@media only screen and (max-width: 480px) {
    #wrapper-signup, #last {
        max-width: 95%;
    }
    #wrapper-identity {
        max-width: 85%;
    }

    .aadhar-wrap {
      margin-top: 10%;
    }
}
